/* Center all <h1> tags */
h1 {
    text-align: center;
    font-size: 27px;
}

h2 {
    line-height: 0.5;
    font-size: 23px;
}

h3 {
    font-size: 18px;
}

/* Use Times New Roman for all text */
body {
    font-family: 'Times New Roman', Times, serif;
}

#imageInput {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    /* background-color: #fff; */
}

.import-input:hover {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.import-input:focus {
outline: none;
border-color: #0056b3;
}

.import-label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-right: 10px;
}

#apiContainer {
    margin: 10px 0;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1.5px solid #b6b4b4;
    border-radius: 5px;
    background-color: #d9e8fcee
}

/* input tag inside apiContainer: <input> under <div id="apiContainer"> */
#apiContainer input {
    margin: 5px 0;
    padding: 5px;
    font-size: 11px;
    width: 85%;
}


/* Ensure sections print correctly without cutting them in half */
@media print {
    section {
        page-break-inside: avoid; /* Avoid breaking inside sections */
        page-break-after: always;  /* Start a new page after each section */
    }
    
    p {
        page-break-after: avoid; /* Avoid breaking after paragraphs */
    }
}